/* COULEURS*/
/* TRANSITIONS */
/* DELAIS ENTRE MENUS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

a, a:visited {
  text-decoration: none;
  color: #333333;
}

strong {
  font-weight: bold;
}

/* BOUTON SAUF COEUR */
button:not(.heart) {
  width: fit-content;
  height: 3rem;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  align-self: center;
  box-shadow: 0 0 10px 5px lightgrey;
  /* BOUTON ECLAIRCI */
}
button:not(.heart):hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 2px 4px 0px #6d6d6d;
}

/* HEADER PAGE MENU */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 20px 10px 15px 10px;
}
header i {
  font-size: large;
}
header img {
  width: 160px;
}
header .fa-arrow-right {
  visibility: hidden;
}

/* PAGE MENU */
main {
  background-color: #f4f2f2;
  /* PHOTO RESTAURANT */
  /* MENU DU RESTAURANT */
}
main img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}
main section {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  background-color: #f4f2f2;
  margin: auto;
  top: -60px;
  /* NOM DU RESTAURANT */
  /* BOUTON COMMANDER */
}
main section .name-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  /* VERSION TABLETTE & DESKTOP */
}
@media (min-width: 768px) {
  main section .name-restaurant {
    margin-left: 0;
    justify-content: center;
  }
}
main section .name-restaurant h1 {
  font-family: "Shrikhand", cursif, sans-cerif;
  font-size: 1.5em;
  font-weight: normal;
}
main section .menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: -45px;
  margin-top: 15px;
}

footer {
  padding: 1em;
  background-color: #2e2a2a;
  /* OHMYFOOD */
  /* LIENS */
}
footer p {
  margin-bottom: 10px;
  font-family: "Shrikhand", cursif, sans-cerif;
  font-size: 1.1rem;
  font-weight: normal;
  color: white;
  /* VERSION TABLETTE & DESKTOP */
}
@media (min-width: 768px) {
  footer p {
    text-align: center;
    margin: 0px 0 25px 0;
    font-size: 1.1rem;
  }
}
footer ul {
  padding-left: 0;
  /* VERSION TABLETTE & DESKTOP */
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  /* VERSION TABLETTE & DESKTOP */
}
@media (min-width: 768px) {
  footer ul li {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
footer ul li a {
  color: white;
}
footer ul li a:visited {
  color: white;
}
footer ul li i {
  margin-right: 5px;
  width: 20px;
  color: white;
}

/* SECTION ENTREES OU PLATS OU DESSERTS */
.menu {
  /* VERSION TABLETTE */
  /* VERSION DESKTOP */
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 20px;
  }
}
@media (min-width: 992px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 20px;
  }
}
.menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-section h2 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: normal;
}
.menu-section .underline {
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
}
.menu-section .block-list {
  display: flex;
  flex-direction: column;
}

/* MIXIN POUR ANIMATION APPARITION DES SECTIONS-MENUS */
/* BLOC MENUS */
.block-meal {
  display: flex;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  margin: 10px 0;
  opacity: 0;
}
.block-meal:nth-child(1) {
  animation: showing 1.5s linear 0.5s forwards;
}
.block-meal:nth-child(2) {
  animation: showing 1.5s linear 0.8s forwards;
}
.block-meal:nth-child(3) {
  animation: showing 1.5s linear 1.1s forwards;
}
.block-meal:nth-child(4) {
  animation: showing 1.5s linear 1.4s forwards;
}
.block-meal-container {
  flex: 1;
  padding: 0.5rem 1.1rem 0.5rem 0.8rem;
  overflow: hidden;
  width: 250px;
  /* VERSION MOBILE PETIT ECRAN */
}
@media (min-width: 300px) and (max-width: 370px) {
  .block-meal-container {
    padding: 0.5rem;
  }
}
.block-meal-container h3 {
  font-size: 1.05em;
  margin: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* VERSION MOBILE PETIT ECRAN */
}
@media (min-width: 300px) and (max-width: 370px) {
  .block-meal-container h3 {
    font-size: 1.05em;
    margin: 5px 0;
    height: 20px;
  }
}
.block-meal-container .block-meal-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.block-meal-container .block-meal-description p {
  margin: 0;
  font-size: 0.85em;
}
.block-meal-container .block-meal-description p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}
.block-meal-container .block-meal-description .price {
  font-weight: bold;
  margin-left: 10px;
}
.block-meal i {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  background-color: #99E2D0;
  color: white;
  transition: all 0.3s;
}
.block-meal:hover i {
  width: 60px;
}

/* LOADER SPINNER */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* BLOC DU LOADER */
@keyframes off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* CHANGEMENT COULEUR DE LA BORDURE */
@keyframes changeColorBorder {
  0% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  33% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
  66% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  100% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
}
/* REMPLISSAGE DU COEUR */
@keyframes showHeartGradually {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
/*  APPARITION DES SECTIONS-MENUS */
@keyframes showing {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.heart {
  position: relative;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  padding: 0;
  margin-bottom: 30px;
  /* VERSION TABLETTE & DESKTOP */
}
@media (min-width: 768px) {
  .heart {
    margin-left: 40px;
  }
}
.heart .far {
  top: 0;
  right: 0;
  position: absolute;
  opacity: 1;
}
.heart:hover .far {
  animation: showHeartGradually 1s 0s forwards;
}

/* MIXIN POUR ANIMATION APPARITION DES SECTIONS-MENUS */

/*# sourceMappingURL=menu.css.map */
