/* COULEURS*/
/* TRANSITIONS */
/* MIXIN ANIMATIONS */
@keyframes showing {
  to {
    top: 0;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: bold;
}

button:not(.heart, .menu-heart) {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  align-self: center;
  box-shadow: 0 0 10px 5px lightgrey;
}
button:not(.heart, .menu-heart):hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 2px 4px 0px #6d6d6d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
header i {
  font-size: large;
}
header img {
  width: 200px;
}
header .fa-arrow-right {
  visibility: hidden;
}

main > img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  margin-bottom: -60px;
}
main section {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  background-color: #f4f2f2;
  margin: auto;
}
main section .name-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .name-restaurant h1 {
  font-family: "Shrikhand", cursif, sans-cerif;
  font-size: 1.8em;
  font-weight: normal;
}
main section button {
  margin: 25px;
}

.menu-heart {
  position: relative;
  font-size: x-large;
  font-weight: normal;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
}
.menu-heart .fas {
  display: none;
}
.menu-heart:hover .fas {
  display: inline;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-heart:hover .far {
  display: none;
}

footer {
  padding: 1em;
  background-color: #2e2a2a;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
  color: white;
  font-size: 0.8rem;
}
footer ul li:first-of-type {
  margin-bottom: 20px;
  font-family: "Shrikhand", cursif, sans-cerif;
  font-size: 1.1rem;
}
footer ul li a {
  color: white;
}
footer ul li a:visited {
  color: white;
}
footer ul li i {
  margin-right: 5px;
  width: 20px;
  color: white;
}

.menu-section {
  display: flex;
  flex-direction: column;
}
.menu-section h2 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: normal;
}
.menu-section .underline {
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
}
.menu-section .block-list {
  display: flex;
  flex-direction: column;
}
.menu-section .block-list .block-meal:nth-child(1) {
  animation: showing 1.5s linear 0.5s forwards;
  cursor: pointer;
}
.menu-section .block-list .block-meal:nth-child(2) {
  animation: showing 1.5s linear 0.8s forwards;
  cursor: pointer;
}
.menu-section .block-list .block-meal:nth-child(3) {
  animation: showing 1.5s linear 1.1s forwards;
  cursor: pointer;
}
.menu-section .block-list .block-meal:nth-child(4) {
  animation: showing 1.5s linear 1.4s forwards;
  cursor: pointer;
}

.block-meal {
  display: flex;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}
.block-meal-container {
  flex: 1;
  padding: 0.5rem 1.1rem 0.5rem 0.8rem;
}
@media (min-width: 320px) and (max-width: 370px) {
  .block-meal-container {
    padding: 0.5rem;
  }
}
.block-meal-container h3 {
  font-size: 1.05em;
  margin: 5px 0;
}
@media (min-width: 320px) and (max-width: 370px) {
  .block-meal-container h3 {
    font-size: 1.05em;
    margin: 5px 0;
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
  }
}
.block-meal-container .block-meal-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.block-meal-container .block-meal-description p {
  margin: 0;
  font-size: 0.85em;
}
.block-meal-container .block-meal-description p:first-child {
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}
@media (min-width: 320px) and (max-width: 370px) {
  .block-meal-container .block-meal-description p:first-child {
    width: 190px;
  }
}
.block-meal-container .block-meal-description .price {
  font-weight: bold;
}
.block-meal i {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
  color: white;
  transition: all 0.3s;
}
.block-meal:hover i {
  width: 15%;
}

/*# sourceMappingURL=menu.css.map */
