/* HEADER PAGE MENU */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px 10px 15px 10px;

    i{
        font-size: large;
    }

    & img{
        width: 160px;
    }

    & .fa-arrow-right{
        visibility: hidden;
    }
} 