.menu-section{
    display: flex;
    flex-direction: column;

    h2{
        font-size: 1em;
        margin-bottom: 5px;
        font-weight: normal;
    }

    .underline{
        height: 3px;
        width: 50px;
        background-color: $tertiary-color;
    }

    .block-list{
        display: flex;
        flex-direction: column;
        .block-meal{
            @include animation-showing($child);
        }
    }
} 