/* APPARITION COEUR PROGRESSIVE */

@keyframes showHeartGradually {

    0% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 0%, white 0%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    10% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 10%, white 10%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }
    
    20% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 20%, white 20%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;   
    }

    30% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 30%, white 30%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    40% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 40%, white 40%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    50% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 50%, white 50%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    60% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 60%, white 60%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    70% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 70%, white 70%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    80% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 80%, white 80%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    90% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 90%, white 90%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }

    100% { 
        background: linear-gradient(0deg, $secondary-color, $primary-color 100%);
        -webkit-background-clip: text;
        color : transparent;
        font-weight: bold;    
    }
}

/*  APPARITION DES SECTIONS-MENUS */

@keyframes showing{
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

