button{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    color: white;
    background-image: linear-gradient($secondary-color , $primary-color);
    cursor: pointer;
    align-self: center;
}