button:not(.heart, .menu-heart){
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    color: white;
    background-image: linear-gradient($secondary-color , $primary-color);
    cursor: pointer;
    align-self: center;
    box-shadow: 0 0 10px 5px $shadow-card;

    &:hover{
        background-image: linear-gradient(lighten($secondary-color, 5% ), lighten($primary-color, 5%));
        box-shadow: 0 2px 4px 0px darken($shadow-card, 40%);
    }
}