/* BOUTON SAUF COEUR */
button:not(.heart){
    width: fit-content;
    height: 3rem;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    color: white;
    background-image: linear-gradient($secondary-color , $primary-color);
    cursor: pointer;
    align-self: center;
    box-shadow: 0 0 10px 5px $shadow-card;

    /* BOUTON ECLAIRCI */
    &:hover{
        background-image: linear-gradient(lighten($secondary-color, 5% ), lighten($primary-color, 5%));
        box-shadow: 0 2px 4px 0px darken($shadow-card, 40%);
    }
}