.heart {

    position: relative;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 30px;
            
        .far{
            top: 0;
            right: 0;
            position :absolute;
            opacity: 1;
        }
    
        &:hover{

            .far{
                animation: showHeartGradually 1s 0s forwards;
            }
        }
}