@import '../utils/mixin';

.block-meal{
    display: flex;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin: 10px 0;
    opacity: 0;
    @include animation-showing($block-meal-anim-delay);

    &-container{
        flex: 1;
        padding: 0.5rem 1.1rem 0.5rem 0.8rem;
        overflow: hidden;
        width: 250px;

        /* VERSION MOBILE PETIT ECRAN */
        @media (min-width: 300px) and (max-width: 370px) {
            padding: 0.5rem;
        }

        h3{
            font-size: 1.05em;
            margin: 5px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            /* VERSION MOBILE PETIT ECRAN */
            @media (min-width: 300px) and (max-width: 370px) {
                font-size: 1.05em;
                margin: 5px 0;
                width: 190px;
                height: 20px;
            }
        }

        .block-meal-description{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;

            p{
                margin: 0;
                font-size: 0.85em;

                &:first-child{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 20px;
                    white-space: nowrap;
                }
            }

            .price {
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }

    i{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        background-color: $tertiary-color;
        color: white;
        transition: all $transition-duration;
    }
    
    &:hover i{
       width: 60px;
    }

} 



