* {
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: $black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

a, a:visited{
    text-decoration: none;
    color: $black;
}

strong{
    font-weight: bold;}



