* {
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    width: 100%;
}

h1 {
    font-family: $font-title;
    font-weight: lighter;
    margin-bottom: 1px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

img {
    width: 200px;
}

.card{
    box-shadow: 1px 5px 5px $shadow-card;
}

a, a:visited{
    text-decoration: none;
    color: $black;
}

strong{
    font-weight: bold;}