.location{
    text-align: center;
    background-color: $grey;
    padding: 1rem;
    padding-left: 75px;
    margin: 0;
    font-weight: bold;
    color: $grey_darken;
    box-shadow:0px 0px 5px $grey_darken;
}

* {

    & i{
        margin-right: 10px;
    }

    & input {
        background-color: $grey;
        border-style: none;
        font-weight:bold;
        font-size: 15px;   
        width: 180px;     
    }
}

section{
    background-color: $light-grey;
}

section:first-of-type{
    text-align: center;
    align-items: center;
    padding : 1rem;
    padding-bottom: 3rem;

    p{
        margin-top: 0;
    }
} 

section:nth-child(odd){
    background-color: white;
} 

h2 {
    font-weight: 700;
}



