.location{
    text-align: center;
    background-color: $grey;
    padding: 1rem;
    margin: 0;
    font-weight: bold;

    & i{
        margin-right: 10px;
    }
}

section{
    background-color: $light-grey;
}

section:first-of-type{
    text-align: center;
    align-items: center;
    padding : 1rem;
    padding-bottom: 3rem;
} 

section:nth-child(3n){
    background-color: white;
} 

h2 {
    font-weight: 700;
}