main{

    & > img{
        width: 100%;
        object-fit: cover;
        max-height: 400px;
        margin-bottom: -60px;
    }

    section{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        background-color: $light-grey;
        margin: auto;

            .name-restaurant{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-family: $font-title;
                    font-size: 1.8em;
                    font-weight: normal;
                }
            }

            button {
            margin: 25px;
            }
    }
}

.menu-heart {
    position: relative;
    font-size: x-large;
    font-weight: normal;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 10px;

        & .fas{
            display: none;

        }

        &:hover{
            & .fas{
                display: inline;
                background: linear-gradient(to top, $secondary-color, $primary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color : transparent;
            }

            & .far{
                display: none;
            }
        }
}