main{
    background-color: $light-grey;

    & > img{
        width: 100%;
        object-fit: cover;
        max-height: 400px;
        margin-bottom: -60px;
    }

    section{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        background-color: $light-grey;
        margin: auto;

        margin: auto;

            .name-restaurant{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: -10px;

                h1 {
                    font-family: $font-title;
                    font-size: 1.5em;
                    font-weight: normal;
                }
            }
            
            .menu-button{
                margin: 15px 0 15px 0;
                display: flex;
                justify-content: center;
            }
        }
}