main{

    & > img{
        width: 100%;
        object-fit: cover;
        max-height: 400px;
        margin-bottom: -60px;
    }

    section{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        background-color: $light-grey;
        margin: auto;

            .name-restaurant{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-family: $font-title;
                    font-size: 1.5em;
                    font-weight: normal;
                }
            }

            button {
            margin: 25px; 
            }
    }
}